.page-header {
    background-color: #d8c3a5;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 20px 20px 40px;
   /* text-transform:capitalize;
    font-variant:small-caps;     
    font-weight:bold; */
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #e85a4f;
    font-size: 40pt;
    text-decoration: none;
    font-family: 'Sacramento', cursive;
    text-align: center;
}

body {
    background-color: #eae7dc;
}

/*.col-md-8 {
    text-align: left;
    font-family: 'Playfair Display', serif;
    color: #71706e;
    margin-left: 0;
}

.col-md-8 a {
    color: #e85a4f;
}

.col-md-8 a:hover {
    color: #ed998f;
}*/

.content {
   /* margin-left: 40px;*/
   margin-top: 50px;
   font-family: 'Playfair Display', serif;
   color: #71706e;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}

.date {
    color: #d8c3a5;
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    font-size: 10pt;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

 .top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
} 

.post {
    margin-bottom: 70px;
    color: #71706e;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-size: 12pt;
}

.post h2 a, .post h2 a:visited {
    color: #e85a4f;
    font-family: 'Playfair Display', serif;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 30px;
    opacity: 0.8;
    border: 1px solid #ed998f;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.pic:hover {
      opacity: 1;
      border: 1px solid #e85a4f;
      border-radius: 4px;
      padding: 5px;
      width: 150px;
}

.top-nav {
    margin-top: 0;
    margin-bottom: 30;
    background-color: #e98074;
    overflow: hidden;
   /* position: relative;*/
    text-align: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    opacity: 1;
    width: 100%;
}
  
.top-nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 18px;
    display:inline-block;
    font-family: 'Playfair Display', serif;
    background-color: #e98074;
}
  
.top-nav a:hover {
    background-color: #ed998f;
    color: #71706e;
}
  
.top-nav a.active {
    background-color: #e85a4f;
    color: #eae7dc;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: d8c3a5;
    color: e85a4f;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-size: 12pt;
  } 